@tailwind base;
@tailwind components;
@tailwind utilities;

.quote-slider {
    width: 100%;
    height: 30px;
    text-align: center;
}

.youtube-player-container {
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 8px;
    border-width: 1rem;
    border-color: white;
}

.join-us-button {
    position: relative;
    top: 50%;
    left: 15%;
    border-radius: 12px;

}

@media (max-width: 910px) {
    .join-us-button {
	top: 100%;
	left: 50%;
	height:2px;
	width: 4px;
	padding: 0px;
	

    }
}

.home-background {
  /* background-color: transparent !important;  Reset background color */
  background-image: url('./home2.jpeg') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.quote-slider1 {
  animation: fadeInOut 4s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.youtube-slider {
  animation: fadeInOutAlt 4s ease-in-out;
}

@keyframes fadeInOutAlt {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Add this CSS class to handle the right-to-left sliding transition */
.youtube-video-slide {
  position: absolute;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.translate-right {
  transform: translateX(100%); /* Slide the element out to the right */
}

.translate-left {
  transform: translateX(0); /* Reset to original position (visible) */
}

.app {
  font-family: Arial, sans-serif;
}

.contacts-list {
  padding: 20px;
}

.contacts-list ul {
  list-style: none;
  padding: 0;
}

.contacts-list li {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 0;
}

.contacts-list img {
  border-radius: 50%;
  margin-right: 10px;
}

.chat-window {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #f4f4f4;
}

.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background: #e9ecef;
}

.chat-message {
  margin: 5px 0;
}

.chat-message.sent {
  text-align: right;
}

.chat-input {
  display: flex;
  padding: 10px;
  background: #f4f4f4;
}

.chat-input input {
  flex: 1;
  padding: 5px;
}

.chat-input button {
    margin-left: 3px;
    margin-right: 6px;
  padding: 5px 10px;
}
